:root {
  --verde-principal: #1abc9c;
  --verde-escuro: #145a32;
  --preto: #0a0a0a;
  --cinza: #7f8c8d;
  --prata: #bdc3c7;
  --laranja: #e67e22;
  --branco: #ffffff;
}

html {
  scroll-behavior: smooth;
}

section, header {
  scroll-margin-top: 80px;
}

.navbar-nav .nav-link {
  color: var(--branco) !important;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link.active {
  background-color: var(--branco);
  color: var(--preto) !important;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

nav.bg-dark {
  background: var(--preto) !important;
}
nav a:hover {
  color: white !important;
}

.hero {
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), /* sombra suave */
    url('../Imagens/fundo.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  color: var(--branco);
  text-align: center;
  position: relative;
}

#btn-lgn:hover{
    background-color: white;
    color: #0a0a0a !important;
}
.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--verde-principal);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* altura do fade */
  background: linear-gradient(to top, var(--preto), rgba(0,0,0,0));
}

.hero p {
  font-size: 1.2rem;
  color: var(--prata);
}

.unidade {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s;
}
.unidade img {
  height: 150px;
  object-fit: cover;
}
.unidade:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.matriz .card-body {
  background: var(--verde-principal);
  color: var(--branco);
}

.planos .card {
  border: none;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.planos .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.planos .btn {
  background: var(--verde-principal);
  border: none;
}
.planos .btn:hover {
  background: var(--laranja);
}

.btn-green {
  background-color: var(--verde-principal);
  color: var(--branco);
  border: none;
  transition: all 0.3s ease;
}

.btn-green:hover {
  background-color: var(--verde-escuro);
  color: var(--branco);
  transform: translateY(-2px);
}

.cursos .card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cursos .card img {
  height: 180px;
  object-fit: cover;
}
.cursos .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

footer {
  background: var(--preto);
  color: var(--prata);
}
footer a {
  color: var(--verde-principal);
  text-decoration: none;
}
footer a:hover {
  color: var(--laranja);
}
